body {
  font-family: "Poppins", sans-serif;
}

#hero {
  width: 100%;
  height: 90vh;
  background: #111;
  color: #fff;
  text-align: center;
}

.btn-get-started {
  background: #ff6600;
  padding: 12px 25px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
